<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">

    <test name="GoogleTest">
        <!-- General Configuration -->


        <!-- Classes to be included in the tests -->
        <classes>
            <class name="TestNG.tests.SampleTest" />
        </classes>
    </test>
</suite>